
<div class="tab-content devicen">
<h2 class="padfornav talign">NOBLIFIN</h2>
<hr>
  <div class="tab-pane active fade in" id="login-block">
    <!-- Login Block Form -->
    <div class="login-block-form">
            <h2>Registrate</h2>
             <button style="color:blue">Registrate con Facebook</button>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
               <div class="field form-group">
                <%= f.label :nombre %><br />
                <%= f.text_field :name, autofocus: true, :placeholder => "Introduce tu nombre", :class => 'form-control' %>
              </div>
              <div class="field form-group">
                <%= f.label :correo %><br />
                <%= f.email_field :email, autofocus: true, :placeholder => "Introduce tu Correo", :class => 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label :contrase単a %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres minimo)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Introduce tu contrase単a", :class => 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label :confirmar_contrase単a %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Vuelve a introducir tu contrase単a", :class => 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "Crear cuenta" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
         </div>
   </div>
</div>

